/* curriculum page */
.wrapper {
  background: #dedede;
}

.br_on {
  display: none;
}

.top-banner .banner-image {
  padding-top: calc(100%/3);
  position: relative;
}
.top-banner .banner-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.curriculum {
  background: white;
  padding: 20px 30px;
  margin-bottom: 3vh;
}
.curriculum .curriculum-image {
  margin: 0 auto;
}
.curriculum .details {
  padding: 20px 10px;
  background: rgba(255, 225, 225, 0.66);
  display: flex;
  align-items: center;
  justify-content: center;
}
.curriculum .details .curriculum-details h3 {
  color: #df7727;
}
.curriculum .details .curriculum-details .course-types {
  display: flex;
  flex-direction: row;
}
.curriculum .details .curriculum-details .course-types ul {
  list-style-type: none;
  padding: 0;
}
.curriculum .details .curriculum-details .course-types ul li {
  display: inline-block;
  text-align: center;
  border: 1px solid #9a9a9a;
  font-size: 0.7em;
  padding: 5px 20px;
  margin-right: 5px;
  background: #9a9a9a;
  color: #fff;
}
.curriculum .recommend .recommend-for {
  display: flex;
  flex-direction: row;
  margin: 3vh auto;
}
.curriculum .recommend .recommend-for .item {
  width: calc(100% / 3);
}
.curriculum .recommend .recommend-for .item .text {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
}
.curriculum .button-area {
  background: #f16821;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.66);
}

.guidelines {
  margin: 4vh auto 8vh;
}
.guidelines .course-guidelines {
  padding: 4vh 0;
  background: white;
}
.guidelines .course-guidelines h3 {
  text-align: center;
  margin-top: 4vh;
  font-size: 2.5em;
}
.guidelines .course-guidelines h3 span {
  padding-bottom: 3px;
  border-bottom: 3px solid #ff7f4f;
}
.guidelines .course-guidelines h4 {
  text-align: center;
  margin: 5vh auto;
  line-height: 2em;
  font-size: 1.25em;
}
.guidelines .course-guidelines .list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.guidelines .course-guidelines .list .course-list {
  width: 20%;
  text-align: center;
  border: 1px solid #9a9a9a;
  background: #fff;
  font-size: 0.8em;
}
.guidelines .course-guidelines .menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}
.guidelines .course-guidelines .menu-list .menu {
  width: 24%;
  margin: 0 auto 2vh;
  text-align: center;
}
.guidelines .course-guidelines .menu-list .menu .top {
  color: #fff;
  font-weight: bold;
  background: #212529;
  padding: 1vh 10px;
}
.guidelines .course-guidelines .menu-list .menu .bottom {
  border: 1px solid #9a9a9a;
  padding: 10px 20px;
}
.guidelines .course-and-short-description {
  margin: 3vh auto;
}
.guidelines .course-and-short-description .course-type {
  font-size: 1.15em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9a9a9a;
}
.guidelines .course-and-short-description .course-description {
  font-weight: bold;
  background: #fff;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  border-top: 1px solid #9a9a9a;
}
.guidelines .course-and-short-description .basic {
  background: navajowhite;
}
.guidelines .course-and-short-description .standard {
  background: #fbd152;
}
.guidelines .course-and-short-description .high {
  background: #ffc000;
}
.guidelines .course-and-short-description .top-level {
  background: coral;
}

@media screen and (max-width: 992px) {
  .curriculum .details {
    margin: 3vh auto;
  }

  .guidelines .course-and-short-description {
    margin: 3vh auto;
  }
  .guidelines .course-and-short-description .course-type {
    font-size: 1.25em;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .guidelines .course-and-short-description .course-description {
    font-weight: bold;
    background: #fff;
    font-size: 1em;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .top-banner .banner-image {
    padding-top: calc(100% / 3 * 2);
  }

  .curriculum .details {
    margin-top: 2vh;
  }
  .curriculum .recommend .recommend-for {
    flex-direction: column;
  }
  .curriculum .recommend .recommend-for .item {
    width: 100%;
    margin: 5px auto;
  }

  .guidelines .course-guidelines h3 {
    font-size: 2em;
  }
  .guidelines .course-guidelines .list {
    flex-direction: column;
    margin: 10px auto;
  }
  .guidelines .course-guidelines .list .course-list {
    width: 75%;
    margin: 0 auto;
  }
  .guidelines .course-and-short-description {
    margin: 3vh auto;
  }
  .guidelines .course-and-short-description .course-type {
    font-size: 1.25em;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .guidelines .course-and-short-description .course-description {
    font-weight: bold;
    background: #fff;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-left: 1px solid #9a9a9a;
  }
}
@media screen and (max-width: 576px) {
  .top-banner .banner-image {
    padding-top: 75%;
    position: relative;
  }
  .top-banner .banner-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .guidelines .course-guidelines .menu-list .menu {
    width: 46%;
  }
}
@media screen and (max-width: 576px) {
  .top-banner .banner-image {
    padding-top: 75%;
    position: relative;
  }
  .top-banner .banner-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .curriculum .details .curriculum-details .course-types ul li {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .guidelines .course-guidelines h3 {
    font-size: 1.5em;
  }
  .guidelines .course-guidelines h4 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 414px) {
  .guidelines .course-guidelines h3 {
    font-size: 1.25em;
  }
  .guidelines .course-guidelines h4 {
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .guidelines .course-guidelines h3 {
    font-size: 1.25em;
  }
  .guidelines .course-guidelines h4 {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=course.css.map */
